<form class="form-horizontal comments__form">
	<div class="form-group">
		<label for="inputName" class=" control-label">Имя <span class="star">*</span></label>
		<div>
			<input type="name" class="form-control" id="inputName" placeholder="Name">
		</div>
	<div class="form-group">
		<label for="inputEmail" class=" control-label">Email <span class="star">*</span></label>
		<div>
			<input type="email" class="form-control" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="inputComment" class=" control-label">Комментарий <span class="star">*</span></label>
		<div>
			<textarea type="text" class="form-control input-comment" id="inputComment" placeholder="Text"></textarea>
		</div>
	</div>
	</div>

	<div class="form-group">
		<div>
			<button type="submit" class="btn-publish ">Опубликовать</button>
		</div>
	</div>
</form>