/* FOOTR-SMALL */
.footer--small{
  position: absolute;//fixed 
  width: 100%;
  background-color: #f6f8f8;
  .container{
    padding:10px 0;
  }
}
.footer{
  &__inner{
    background-color: #f6f8f8;
    @include clearfix;
  }
  &__social{
    @include span(6.5 of 9);
  }
  &__heading{
    background: url('../img/logo-small.png') left top no-repeat;
    padding-left: 30px;
    font: bold 12px Arial;
    color: #878787;
    span{
      color: #cacbcb;
    }
  }
  &__text{
    font: 11px Arial;
    color: #bab9b9;
    line-height: 15px;
    padding: 8px 0 0 0
  }
  &__production{
   @include span(2.5 of 9);
   a{
    display: block;
    width: 88px;
    height: 44px;
    background: #d8d9d9;
    float: left;
    margin-right: 10px;
  }

}
}