</div>
<footer class="footer footer--small" >
	<div class="container">
		<div class="footer__inner">
			<div class="footer__social">
				<div class="footer__heading">Правда есть - <span>помощи гражданам в решении правовых проблем</span></div>
				<p class="footer__text">После 10-часовых дебатов греческий парламент принял законопроект, предполагаюзий резкое сокращение бюджетных расходов в обмен на новый транш от МВФ и Евросоюза. 130 млрд евро будут направлены на выплаты по долгам греческого правительства, которые необходимо произвести уже в марте. По словам премьер-министра Лукаса Пападимоса, неприятие пакета жестких мер привело бы к дефолту Греции и выходу из еврозоны.</p>
			</div>
			<div class="footer__production">
				<a href="#"></a>
				<a href="#"></a>
				</div>
		</div>
	</div>
</footer>