//= head.html
<div class="container">
	<header class="header">
		<div class="header__navbar">
			<div class="user-block">
				<a class="user-block__reg" href="">Регистрация</a>
				<a class="user-block__log-in" href="">Войти</a>
				<div class="user-block__log-in-soc">
					<span>Войти через соц. сети</span>
					<a href="" class="icon facebook-logo"></a>
					<a href="" class="icon vk"></a>
					<a href="" class="icon o"></a>
					<a href="" class="icon twitter-icon"></a>
					<a href="" class="icon social-icon"></a>
				</div>
			</div>
			<nav class="project-nav">
				<ul>
					<li><a href="index.html">О проекте</a></li>
					<li><a href="">Партнёры</a></li>
					<li><a href="catalog.html">Контакты</a></li>
					<li class="attantion"><a href="">Поддержать проект</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__top">
			<div class="site-name">
				<a class="logo" href="index.html">
					<img src="img/logo.png"  alt="logo">
					<span>Правда есть</span>
				</a>
				<span class="tagline">Помощь гражданам в решении правовых проблем</span>
			</div>
			<div class="search header__search">
				<form>
					<input type="text" placeholder="Поиск по сайту..." class="search-input">
					<a class="btn-search"></a>
				</form>
			</div>
		</div>
	</header>
	<nav class="main">
		<ul>
			<li><a href="index.html">Главная</a></li>
			<li><a href="news.html">Новости</a></li>
			<li><a href="detection.html">Расследованиe</a></li>
			<li><a href="search_true.html">Ищем правду</a></li>
			<li><a href="urud_gramot.html">Юридическая грамотность</a></li>
			<li><a href="finally.html">Ставим точку</a></li>
			<li><a href="GKX_na_doroge.html">ЖКХ</a></li>
			<li><a href="GKX_na_doroge.html">На дороге</a></li>  
		</ul>
	</nav>
	<div class="under-header">
		<div class="slideshow">
			<div id="slideshow__main">
				<ul>
					<li class="chapter1  act">
						<a href="">
							<div class="slider-title"><span class="rubric">Выбор редактора</span><span class="author"> Артём Верещагинн</span></div>
							<div class="slider-content">
								<div class="slider-content__person">
									<img src="img/person.png" alt=""/>
								</div>
								<div class="slider-content__rubric">
									<p>Не надо перебарщивать с толерантностью. Вызывающе  поведение в отношении коренного населения недопустимо. 
									Терпимость — это не вседозволенность”
									</p>
								</div>
							</div>
						</a>
					</li>
					<li class="chapter2">
						<a href="">
							<div class="slider-title"><span class="rubric">Выбор редактора</span><span class="author"> Артём Верещагинн</span></div>
							<div class="slider-content">
								<div class="slider-content__person">
									<img src="img/prison_img.png" alt=""/>
								</div>
								<div class="slider-content__rubric">
									<p>Не надо перебарщивать с толерантностью. Вызывающе  поведение в отношении коренного населения недопустимо. Омоновец рассказал, как подсудимый</p> 
								</div>
							</div>
						</a>
					</li>
					<li class="chapter3">
						<a href="">
							<div class="slider-title"><span class="rubric">Выбор редактора</span><span class="author"> Артём Верещагинн</span></div>
							<div class="slider-content">
								<div class="slider-content__person">
									<img src="img/news3.png" alt=""/>
								</div>
								<div class="slider-content__rubric">
									<p>Замдиректора спортклуба прислал чиновнице шкатулку с гранатой</p>
								</div>
							</div>
						</a>
					</li>
					<li class="chapter4">
						<a href="">
							<div class="slider-title"><span class="rubric">Выбор редактора</span><span class="author"> Артём Верещагинн</span></div>
							<div class="slider-content">
								<div class="slider-content__person">
									<img src="img/news1.png" alt=""/>
								</div>
								<div class="slider-content__rubric">
									<p>Дюжина топ-задержаний: арест в Белоруссии топ-менеджера Уралкалия</p>
								</div>
							</div>
						</a>
					<li>					
				</ul>										
			</div>
			<div id="slideshow__carousel">				
				<ul id="carousel" class="jcarousel jcarousel-skin-tango" data-jcarousel="true">
					<li>
						<a href="" rel="chapter1">
							<div class="news-picture"><img src="img/person.png" alt="#"/></div>
							<div class="news-text">Замдиректора спортклуба прислал чиновнице шкатулку с гранатой

							</div>
							<time datetime="2012-02-13 21:06" class="news-data">13.02.2012 21:06</time>
						</a>
					</li>
					<li>
						<a href="" rel="chapter2">
							<div class="news-picture"><img src="img/news2.png" alt="#"/></div>
							<div class="news-text">Дюжина топ-задержаний: арест в Белоруссии топ-менеджера Уралкалия
								Дюжина топ-задержаний: арест в Белоруссии топ-менеджера Уралкалия

							</div>	
							<time datetime="2012-02-13 21:06" class="news-data">13.02.2012 21:06</time>
						</a>
					</li>
					<li>
						<a href="" rel="chapter3">
							<div class="news-picture"><img src="img/news3.png" alt="#"/></div>
							<div class="news-text">Омоновец рассказал, как подсудимый по "Болотному делу" ломал ему палец
							</div>
							<time datetime="2012-02-13 21:06" class="news-data">13.02.2012 21:06</time>
						</a>
					</li>
					<li>
						<a href="" rel="chapter4">
							<div class="news-picture"><img src="img/news1.png" alt="#"/></div>
							<div class="news-text">Дюжина топ-задержаний: арест в Белоруссии топ-менеджера Уралкалия
							</div>	
							<time datetime="2012-02-13 21:06" class="news-data">13.02.2012 21:06</time>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="help">
			<h3>Помогите</h3>
			<div class="help-org help-org--gov">
				<h4>ГосОрганы</h4>
				<p>Как обратиться за помощью в ГосОрганы</p>
				<a href="" class="help-org__link"></a>
			</div>
			<div class="help-org help-org--com">
				<h4>Общественные организации</h4>
				<p>Как обратиться за помощью</p>
				<a href="" class="help-org__link"></a>
			</div>
		</div>
	</div>