	<div class="news-carousel">
		<div id="slideshow-main">
			<ul>
				<li class="p1 active">
					<a href="#">
					<img src="img/bg-slider.png" width="430" height="290" alt=""/>
						<span class="opacity"></span>
						<span class="content"><h1>Title 1</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></span>
					</a>
				</li>
				<li class="p2">
					<a href="#">
					<img src="img/bg-slider.png" width="430" height="290" alt=""/>
						<span class="opacity"></span>
						<span class="content"><h1>Title 2</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></span>
					</a>
				</li>
				<li class="p3">
					<a href="#">
					<img src="img/bg-slider.png" width="430" height="290" alt=""/>
						<span class="opacity"></span>
						<span class="content"><h1>Title 3</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></span>
					</a>
				</li>
			</ul>										
		</div>

		<div id="slideshow-carousel">				
			<ul id="carousel" class="jcarousel jcarousel-skin-tango">
				<li><a href="#" rel="p1"><img src="img/bg-slider.png" width="206" height="95" alt="#"/></a></li>
				<li><a href="#" rel="p2"><img src="img/bg-slider.png" width="206" height="95" alt="#"/></a></li>
				<li><a href="#" rel="p3"><img src="img/bg-slider.png" width="206" height="95" alt="#"/></a></li>
			</ul>
		</div>
	</div>