/* SUSY-GRID */

$susy: (
  columns: 9,
  column-width: 76px,
  gutters: 0.4,
  output:float,
  math: static,
  container:960px,
  gutter-position: split,
  global-box-sizing: border-box,
);

.container{
  @include container($susy);
  @include clearfix;
}