<div class="list-checked">
			<ul>
				<li>
					<input type="radio" id="cb1" name="advice">
					<label for="cb1">Глава ВС уйдет в отставку - после такой травмы сложно продолжать работать 
					</label>
				</li>
				<li>
					<input type="radio" id="cb2" name="advice">
					<label for="cb2">Пострадает репутация российской судебной системы - глава ВС занимается явно чем-то не тем</label>
				</li>
				<li>
					<input type="radio" id="cb3" name="advice">
					<label for="cb3">Ответственные сотрудники ФСО получат, как минимум, выговор</label>
				</li>
				<li>
					<input type="radio" id="cb4" name="advice">
					<label for="cb4">Никаких последствий не будет - для власти слишком важна лояльность судей</label>
				</li>
				<li>
					<input type="radio" id="cb5" name="advice">
					<label for="cb5">Свой вариант (предложу в комментариях)</label>
				</li>
			</ul>
	</div>